<div class="login-wrapper">
    <div class="login-card">
        <h2>Login Form</h2>

        <form action="/auth/login" method="POST">
            <p>
                <input class="login-input" type="text" name="email" placeholder="Email">
            </p>

            <p>
                <input class="login-input" type="password" name="password" placeholder="Password">
            </p>

            <p>
                <button class="login-btn">Login</button>
            </p>
        </form>

        <p class="login-register">
            <a href="/auth/register">New User Register Here</a>
        </p>
    </div>
</div>