<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interior Admin Page</title>
</head>

<body>
    <h2>Add Interior Form</h2>
    <form action="/interiors/add" method="POST">
        <input type="text" name="name" placeholder="Interior Name"><br>
        <input type="text" name="desc" placeholder="Interior Description"><br>
        <input type="number" name="price" placeholder="Interior Price"><br>
        <input type="text" name="image" placeholder="Image URL" accept="image/*"><br>
        <button type="submit">Add Interior</button>
    </form>
</body>

</html>