<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interior Admin Page</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="edit-wrapper">
        <h2 class="edit-title">Edit Interior</h2>
        <form class="edit-form" action="/interiors/<%= interior._id %>/edit" method="POST">
            <input class="edit-input" type="text" name="name" placeholder="Interior Name" value="<%= interior.name %>">
            <input class="edit-input" type="text" name="desc" placeholder="Interior Description"
                value="<%= interior.desc %>">
            <input class="edit-input" type="text" name="image" placeholder="Image URL" accept="image/*"
                value="<%= interior.image %>">
            <button class="edit-btn1">Save</button>
        </form>
    </div>
</body>

</html>